.container-wrapper{
    display: flex;
    justify-content: center;
}
.container{
    width: 840px;
}
.title{
    color: #FF5D10;
    font-size: 48px;
    line-height: 24px;
    margin-top: 50px;
    text-align: center;
}
.search-form{
    padding: 30px 40px;
    background: #F7F7F7F7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-input{
    background-color: #fff;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    width: 340px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
}
.search-input::placeholder{
    color:#d3cccc;
}
.search-button{
    background: #FF5D18;
    border-radius: 5px;
    height: 40px;
    color:#fff;
    font-size:16px;
    line-height: 24px;
    border:none;
    outline: none;
    padding: 10px 30px;
    display:block;
    margin-bottom: 35px;
    cursor: pointer;
    

}
.serach-result-item{
    background: #FFF;
    border-radius: 4px;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    margin-top: 10px;
}
.result-title{
    color:#515151;
    font-size: 16px;
    line-height: 24px;
}
.result-subtitle{
    color:#515151;
    font-size: 16px;
    line-height: 24px;
    /*
    quebra linha
     display: block;
    
    */
}